html {
  font-size: 30px;
}

body {
  background-color: hsl(80, 30%, 50%);
  font-family: Input, monospace;
  color: hsl(0, 0%, 100%);
}

body[data-currentperiod=shortBreak],
body[data-currentperiod=longBreak] {
  background-color: hsl(230, 10%, 50%);
}

.clock,
.clock__label {
  width: 100%;
  line-height: 3rem;
  text-align: center;
  font-size: 2rem;
}

.clock {
  margin: 8vh 0;
}

.clock__label--nthRun {
  padding-bottom: 2rem;
}

.clock__nthRun {
  text-decoration: underline;
  font-size: 3rem;
}

.clock__animation {
  z-index: -1;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: hsl(0, 75%, 55%);
  transition: height .6s;
}

body[data-currentperiod=shortBreak] .clock__animation,
body[data-currentperiod=longBreak] .clock__animation {
  background-color: hsl(80, 30%, 50%);
}

.actionButton {
  color: hsl(230, 30%, 20%);
}

.actionButton:active {
  color: hsl(0, 0%, 100%);
}

.actionButton {
  display: block;
  padding: .5rem;
  text-align: center;
}
